/* new code for oddonym */
* {
    background-color: #f7f8fd;
    color: #343b5d;
}

.oddonym-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    transform: translate(0%, 70%);
}

.oddonym-title {
    font-family: 'TlwgTypewriter Bold',Courier, monospace;
    color: #1e57be;
    font-size: 68px;
}

.rules-wrapper {
    display: inline-block;
}

.oddonym-rules {
    font-family: 'Space Mono';
    font-size: 27px;
    width: 100%;
    overflow: hidden;
    border-right: .15em solid #343b5d;
    white-space: nowrap;
    margin-right: .15em;
    animation: typing 3s steps(40, end), blink-caret step-end;
}

/* typing animation */
/* .oddonym-rules::before {
    content: '';
    
} */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-carat {
    /* from,  */
    50% {
        border-color: transparent;
    }
    /* 50% {
        border-color: #343b5d;
    } */
}

.bio {
    font-family: 'Harmattan';
    font-size: 23px;
    font-weight: 100;
    margin-top: 1%;
}

@keyframes changeColor {
    0% {
        fill: #b9c8e4; /* Start color */
      }
    100% {
        fill: #1e57be; /* End color */
    }
}

#color-fade {
    animation: changeColor 3s;
}